@keyframes onword {
    from {}
    to {
        color: #ed0769;
    }
}

@keyframes outword {
    from {
        color: #ed0769
    }
    to {
        color: ;
    }
}

@keyframes onbt {
    from {}
    to {
        background-color: #820038;
    }
}

@keyframes outbt {
    from {
        background-color: #820038
    }
    to {
        background-color: #ed0769;
    }
}

@keyframes crson {
    from {}
    to {
        opacity: 0.3
    }
}

@keyframes crsout {
    from {
        opacity: 0.3
    }
    to {
        opacity: 1
    }
}

@keyframes menuShow {
    from {}
    to {
        height: 80px
    }
}

@keyframes menuHide {
    from {
        height: 80px
    }
    to {
        height: 0
    }
}

@keyframes fadein {
    from {}
    to {
        opacity: 1
    }
}

@keyframes fadeout {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

body {
    padding: 0px;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: black;
    min-width: 260px;
}

#upload-wrapper {
    background-color: #ed0769;
    width: 150px;
    height: 40px;
    font-size: 1em;
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 400px;
}

#cancel-button {
    width: 20px;
    height: 20px;
    display: none;
    float: right;
    margin: auto;
    position: relative;
    top: -40px;
}

#ulTitle {
    padding-top: 5px;
}

#upload {
    width: 150px;
    height: 40px;
    overflow: hidden;
    opacity: 0;
    position: relative;
    top: -54px;
}

#header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    background-color: black;
    z-index: 5;
}

#logo {
    position: relative;
    float: left;
    width: 70px;
    margin-left: 30px;
    margin-top: 15px;
    display: inline;
}

header nav {
    display: inline;
    float: right;
    height: 100%;
    width: 210px;
}

a {
    text-decoration: none;
    color: gray;
}

a.current {
    color: white;
}

a:hover {
    color: white;
}

#menuToken {
    font-size: 1.3em;
    display: inline;
    margin-right: 35px;
}

#menuSet {
    list-style: none;
    padding-top: 15px;
}

#toolMenu {
    width: 100%;
    background-color: black;
    height: 0px;
    position: fixed;
    top: 0;
    z-index: 10;
    text-align: center;
}

#toolSet {
    position: relative;
    margin: auto;
    margin-top: 30px;
    font-size: 1.5em;
    top: 0;
    z-index: 20;
    color: white;
    list-style: none;
    opacity: 0;
}

#toolSet li {
    display: inline;
    margin: 40px;
}

#docText {
    color: white;
}

#document {
    margin: auto;
    width: 980px;
    height: auto;
    margin-top: 120px;
    display: block;
    text-align: justify;
    position: relative;
    font-size: 1.4em;
    line-height: 150%;
    margin-bottom: 100px;
}

footer {
    width: 100%;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
}

footer p {
    margin: auto;
    text-align: center;
    color: #444444;
}

@media (max-width: 996px) {
    #document {
        margin-top: 120px;
        width: 80%;
        font-size: 1.3em;
    }
}

@media (max-width: 500px) {
    #header {
        height: 60px;
    }
    #logo {
        width: 40px;
    }
    nav {
        width: 190px;
    }
    #menuToken {
        font-size: 1.2em;
    }
    #menuSet {
        padding-top: 5px;
    }
    #toolSet {
        font-size: 1em;
    }
}
